@{
    ViewBag.Title = "Contact";
}


<div class="panel panel-default">
    <div class=" panel panel-heading">
        <h2><strong>@ViewBag.Title</strong></h2>
       
    </div>
    <div class="panel panel-body">
        <h4>Program de lucru:</h4>
        <ul>
            <li>
                Luni – Joi: 11:00 – 23:00
            </li>
            <li>
                Vineri – Sambata: 11:00 – 00:00
            </li>
            <li>
                Duminica: 12:00 – 23:00
            </li>
        </ul>
        <h4<strong>Adresa:</strong> Calea Unirii, Nr. 1, Craiova</h4>
        
        
    </div>
    <div class="panel-footer">
        <h4><strong>Telefon: 0747516457</strong></h4>
        <h5>Pentru eventual plangeri sau nelamuriri, ne puteti scrie la adresa de Email: <strong>florian.coaje@s.unibuc.ro</strong></h5>
    </div>
</div>