@model Licenta.Models.IndexViewModel
@{
    ViewBag.Title = "Contul meu";
}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="text-center">
                <h2>@ViewBag.Title</h2>
                <br/>
                <img class="img-responsive" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" style="height:200px; margin:auto;" alt="poza_utilizator" />
                <br/>
            </div>
            <div class="col-md-5">
                <h3> Parola:</h3>
                <h3> Istoric Comenzi:</h3>
            </div>
            <div class="col-md-7">
                @if (Model.HasPassword)
                {
                    
                    <h3>
                        <a href="/Manage/ChangePassword">Schimba parola</a>
                    </h3>
                }
                else
                {
                    @Html.ActionLink("Creare parola", "SetPassword")
                }
                
                <h3>
                    <a href="/Orders/Index">Vezi istoricul comenzilor tale</a>
                </h3>
                
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
